@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&family=Raleway:wght@400;500;600;700&display=swap');

body {
  background-color: #1B1428;
  color: #fff;
}
.lineLeft {
  height: 5px;
  width: 80%;
  background: linear-gradient(90deg, #6E27F1 0%, #55E8DF 100%);
  display: block;
}

.lineRight {
  height: 5px;
  width: 80%;
  margin-left: 20%;
  background: linear-gradient(90deg, #55E8DF 0%, #6E27F1 100%);
  display: block;
}

.blockHeader {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: -0.017em;
  margin-bottom: 30px;
  color: #55E8DF;
}

.hr {
  display: block;
  width: 100%;
  height: 2px;
  background: #55E8DF;
}
