.pageTitleBlock {
  position: relative;
  padding: 60px 100px;
}

.title {
  font-family: Raleway, sans-serif;
  font-size: 76px;
  font-weight: 700;
  line-height: 89px;
  letter-spacing: -0.017em;
  text-align: center;
  margin-bottom: 40px;
}

.subtitle {
  font-family: Raleway;
  font-size: 37px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: -0.017em;
  text-align: center;
}

.wayImage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 68px;
}
